<!DOCTYPE html>
<html>
<head>
    <title>Add Disk</title>
</head>
<style>
    form {
        width: 300px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input[type="submit"] {
        margin-top: 20px;
    }
</style>
<body>
    <h1>Add Disk</h1>
    <form action="{% url 'adddisk' %}" method="post">
        {% csrf_token %}
        <label>Name:<br>
        <input type="text" name="name" required></label>
        <label>Capacity (GB):<br>
        <input type="number" name="capacity" required></label>
        <label>Price:<br>
        <input type="number" name="price" required></label>
        <input type="submit" value="Add">
    </form>
</body>
</html>
