<!DOCTYPE html>
<html>
<head>
    <title>Add Disk</title>
</head>
<style>
    form {
        width: 300px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input[type="submit"] {
        margin-top: 20px;
    }
</style>
<body>   
   <h1>Update Disk data</h1>
    <form action="{% url 'updatedisk' disk.id %}" method="post">
        {% csrf_token %}
        <label>Name:<br>
        <input type="text" name="name" value="{{ disk.name }}" required></label>
        <label>Capacity (GB):<br>
        <input type="number" name="capacity" value="{{ disk.capacity }}" required></label>
        <label>Price:<br>
        <input type="number" name="price" value="{{ disk.price }}" required></label>
        <input type="submit" value="Update">
    </form>
</body>
</html>
